<div class="pokemons-cards">
<div class="card-columns">
  <div class="card border-secondary mb-3" style="max-width: 18rem;">
    <img class="card-img-top" src="../../../assets/pokeball.png" alt="Card image cap">
    <div class="card-body text-secondary">
      <h5 class="card-title">Pokemon Name</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <a href="#" class="btn btn-primary">Pokedex!</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body ">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>
  <div [innerHTML]="htmlContent"> </div>
</div>
</div>
